<%= form_for @user do |f| %>
 
  <div style="display:none">
    <%= f.label :image_id %>
    <%= @photo %>
    
  </div>
 
  You are attempting to change your profile picture
  <%= f.submit "Confirm?" %>
  
<% end %>

