<h1><%= @user.name %></h1>
<div>
  <% if !@profile_photo.nil? %>
    <h2>profile picture:</h2>
    <%= image_tag(@profile_photo.image.url, alt: 'Image') if @profile_photo.image? %>
  <% else %>
    <%= @user.name %> has not set a profile picture.
  <% end %>
</div>
<div>
  <% @photos.order(created_at: :desc).each do |photo| %>
    <%= image_tag(photo.image.url, alt: 'Image') if photo.image? %>
  <% end %>
</div>



