<div>
<% @photos.order(created_at: :desc).each do |photo| %>
  
    <% if current_user.id == photo.user_id %>
        <%= photo.user_id %>
        <%= image_tag(photo.image.url, alt: 'Image') if photo.image? %>
    <% end %>

<% end %>
</div>

<%= link_to new_photo_path do %>
  New photo
<% end %>

<a href='/users/<%= current_user.id %>'>My profile</a>
