<!DOCTYPE html>
<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <%= javascript_include_tag('post.js') %>
</head>

<body>
  <% @posts.each do |post| %>
    <div class="post">
      <p><%= post.message %></p>
      <button onclick="openForm(<%= post.id %>)">Update</button>
    </div>
  <% end %>

  <div class="form-popup" id="updateForm">
    <form>
      <label for="name">Name</label>
      <input type="text" class='form-control' name="newMessage"></input>
      <button type="submit" class="Submit" >Submit</button>
      <button type="button" class="cancel" onclick="closeForm()">Cancel</button>
    </form>
  </div>

  <%= link_to new_post_path do %>
    New post
  <% end %>

</body>
</html>
