<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<!-- replace with jquery gem -->
<% @posts.each do |post| %>
  <div class="post">
    <p><%= post.message %></p>
    <button onclick="openForm(<%= post.id %>)">Update</button>
  </div>

<% end %>
<div class="form-popup" id="updateForm">
  <form action='postUpdate.php' method='POST'>
    <label for="name">Name</label>
    <input type="text" class='form-control' name="newMessage"></input>
    <button type="submit" class="Submit" >Submit</button>
    <button type="button" class="cancel" onclick="closeForm()">Cancel</button>
  </form>
</div>
<script>
  $(document).ready(function(){
    $('form').submit(function(event){
      var newMessage = window.updateForm.getElementsByTagName("form") [0].getElementsByClassName("form-control") [0].value;
      $.ajax({
        type : 'POST',
        url : 'postUpdate.php',
        data : 'newMessage',
        dataType : 'json',
        encode :true
      });
    console.log(event.preventDefault())
    });
  });

</script>

<%= link_to new_post_path do %>
  New post
<% end %>

<script>
  function openForm(id) {



    var postID = parseInt(id)
    document.getElementById("updateForm").style.display = "block";
  }

  function closeForm() {
    document.getElementById("updateForm").style.display = "none";
  }
</script>
