<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<!-- replace with jquery gem -->
<% @posts.each do |post| %>
  <div class="post">
    <p><%= post.message %></p>
    <button onclick="openForm(<%= post.id %>)">Update</button>
  </div>

<% end %>

<div class="form-popup" id="updateForm">
  <form >
    <label for="message">
    <input type="text" name="newMessage"></input>
    <button type="button" class="Submit" >Submit</button>
    <button type="button" class="cancel" onclick="closeForm()">Cancel</button>
  </form>
</div>

<script>
  $("button.Submit").click(function(){
    var newMessage = 'text'
    <!-- alert("did it work"); -->
  });
</script>

<%= link_to new_post_path do %>
  New post
<% end %>

<script>
  function openForm(id) {
    var postID = parseInt(id)
    document.getElementById("updateForm").style.display = "block";
  }

  function closeForm() {
    document.getElementById("updateForm").style.display = "none";
  }
</script>
